.GalleryProjectsTitle {
  @apply uppercase;
  font-family: "Alumni Sans", sans-serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 40px 0px;
}

@media (max-width: 1240px) {
  .GalleryProjectsTitle {
    font-size: 65px;
  }
}
@media (max-width: 700px) {
  .GalleryProjectsTitle {
    font-size: 55px;
  }
}
@media (max-width: 600px) {
  .GalleryProjectsTitle {
    font-size: 45px;
  }
}
