.CurrHouse {
  @apply flex justify-center items-center flex-col;
  padding: 20px;
  .CurrHouseTitle {
    @apply uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 4px;
    padding-bottom: 25px;
  }
  .CurrHouseData {
    @apply flex justify-center;
    gap: 20px;
    .CurrHouseImage {
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
    .CurrHousesDataText {
      width: 350px;
      p {
        font-family: "Alumni Sans", sans-serif;
        font-size: 24px;
        padding-bottom: 10px;
      }
    }
  }
  .HousesDescription {
    width: 70vw;
    p {
      padding-top: 20px;
    }
  }
}
