.TechnicAbout {
  @apply flex flex-col justify-center items-center;
  .TechnicTitle {
    @apply uppercase;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: Alumni Sans;
    font-size: 80px;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .TechnicContainer {
    @apply flex justify-center items-center;
    gap: 100px;
    .TechnicContent {
      .TechnicContentSmallTitle {
        @apply uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: 7px;
        color: #c5a47e;
        font-family: Alumni Sans;
        margin-top: 1.875rem;
      }
      .TechnicContentTitle {
        @apply uppercase;
        font-weight: 500;
        font-family: Alumni Sans;
        font-size: 80px;
        letter-spacing: 6%;
        color: #000000;
        margin-bottom: 2.5rem;
      }
      .TechnicText {
        margin-top: 40px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-weight: 400;
        font-size: 1rem;
        color: #999999;
        line-height: 19px;
        max-width: 613px;
      }
      .TechnicButton {
        margin-top: 2.5rem;
        background: white;
        border: 0.0625rem solid black;
        color: black;
        padding: 0.9375rem 2.5rem;
        margin-right: 1.25rem;
        font-size: 1rem;
        transition: 0.3s all;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}

@media (max-width: 1740px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 70px;
    }
    .TechnicContainer {
      gap: 80px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 70px;
        }
        .TechnicText {
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 1370px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 60px;
    }
    .TechnicContainer {
      gap: 80px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 60px;
        }
      }
      .TechnicDecoration {
        img {
          width: 500px;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 60px;
    }
    .TechnicContainer {
      gap: 80px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 60px;
        }
        .TechnicText {
          width: 400px;
          font-size: 15px;
        }
      }
      .TechnicDecoration {
        img {
          width: 460px;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 65px;
    }
    .TechnicContainer {
      @apply flex justify-center items-center flex-col-reverse;
      gap: 20px;
      .TechnicContent {
        @apply flex flex-col justify-center items-center;
        .TechnicContentTitle {
          font-size: 65px;
        }
        .TechnicText {
          text-align: center;
          width: 600px;
          font-size: 16px;
        }
      }
      .TechnicDecoration {
        img {
          width: 620px;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 65px;
    }
    .TechnicContainer {
      gap: 20px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 65px;
        }
        .TechnicText {
          text-align: center;
          width: 550px;
          font-size: 16px;
        }
      }
      .TechnicDecoration {
        img {
          width: 600px;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 55px;
    }
    .TechnicContainer {
      gap: 20px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 55px;
        }
        .TechnicText {
          text-align: center;
          width: 450px;
          font-size: 16px;
        }
      }
      .TechnicDecoration {
        img {
          width: 500px;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .TechnicAbout {
    .TechnicTitle {
      font-size: 45px;
    }
    .TechnicContainer {
      gap: 20px;
      .TechnicContent {
        .TechnicContentTitle {
          font-size: 45px;
          margin-bottom: 15px;
        }
        .TechnicText {
          text-align: center;
          width: 360px;
          font-size: 15px;
        }
      }
      .TechnicDecoration {
        img {
          width: 360px;
          height: auto;
        }
      }
    }
  }
}
