.GelleryPhotos {
  @apply flex justify-center items-center flex-col;
  width: 100vw;
  .GelleryPhotosTitle {
    @apply uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 10px 0px;
  }
  .GelleryPhotosBody {
    @apply grid grid-cols-4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1400px) {
  .GelleryPhotos {
    .GelleryPhotosBody {
      @apply grid grid-cols-3;
    }
  }
}

@media (max-width: 1240px) {
  .HomeGallery {
    .HomeGalleryTitle {
      font-size: 65px;
    }
  }
}
@media (max-width: 1000px) {
  .GelleryPhotos {
    .GelleryPhotosBody {
      @apply grid grid-cols-2;
    }
  }
}
@media (max-width: 650px) {
  .GelleryPhotos {
    .GelleryPhotosBody {
      @apply grid grid-cols-1;
    }
  }
}
@media (max-width: 600px) {
  .HomeGallery {
    .HomeGalleryTitle {
      font-size: 45px;
    }
    .HomeGalleryButton {
      margin: 40px 0px;
    }
  }
}
@media (max-width: 500px) {
  .HomeGallery {
    .Gallery {
      @apply grid grid-cols-1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
